{% extends 'base.html' %}
{% comment %} {% load static %} {% endcomment %}
{% comment %} {% get_media_prefix %} {% endcomment %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="card border-0">
                    <div class="card-body">
                        <h1 style="text-align:center" class="h3 mb-3">Reserve your sauna now</h1>
                        <form>
                            <div class="form-group">
                                <div class="row px-3">
                                    <label class="mb-0" for="locationInput mb-0 mt-5">Delivery location</label>
                                    <input type="email" class="form-control w-100 br0" id="locationInput" aria-describedby="locationInputHelp" placeholder="Anywhere">
                                    <small id="locationInputHelp" class="form-text text-muted sr-only">Please input your desired location.</small>
                                </div>
                            </div>
                            <div class="row px-3">
                                <div class="col-sm-6 px-0">
                                    Start Date: <input class="br0" id="startDate" />
                                </div>
                                <div class="col-sm-6 px-0 br0">
                                    End Date: <input class="br0" id="endDate" />
                                </div>
                            </div>
                        </form>
                        <a class="btn btn-danger btn-block" href="{% url 'booking:booking_form' %}">Search Availability</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container py-3 mt-4">
    <h3 class="wrapper">What guests are saying:</h3>
    <div class="row justify-content-center mt-4">
        <div class="col-md-3">
            <div class="card mb-3 border-0">
                <img src="https://images.unsplash.com/photo-1533654793924-4fc4949fb71e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80" class="card-img-top rounded" alt="...">
                <div class="card-body pl-0">
                    <h5 class="card-title text-info">&#9733; &#9733; &#9733; &#9733; &#9733;</h5>
                    <p class="card-text">A great review.</p>
                    <div class="">
                        <div class="d-flex">
                            <img src="https://a0.muscache.com/im/users/6353572/profile_pic/1405804572/original.jpg?aki_policy=large" class="ml-0 mr-2 img-fluidX rounded-circle w-25 mb-2" alt="...">
                            <div class="d-flex flex-column">
                                <h5 class="mt-0 mb-1">Laurie</h5>
                                <p>Nevada City, CA</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3 border-0">
                <img src="https://images.unsplash.com/photo-1520908695049-da13395b27a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1225&q=80" class="card-img-top rounded" alt="...">
                <div class="card-body pl-0">
                    <h5 class="card-title text-info">&#9733; &#9733; &#9733; &#9733; &#9733;</h5>
                    <p class="card-text">A great review.</p>
                    <div class="">
                        <div class="d-flex">
                            <img src="https://a0.muscache.com/im/users/6353572/profile_pic/1405804572/original.jpg?aki_policy=large" class="ml-0 mr-2 img-fluidX rounded-circle w-25 mb-2" alt="...">
                            <div class="d-flex flex-column">
                                <h5 class="mt-0 mb-1">Alexis</h5>
                                <p>Rocklin, CA</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3 border-0">
                <img src="https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="card-img-top rounded" alt="...">
                <div class="card-body pl-0">
                    <h5 class="card-title text-info">&#9733; &#9733; &#9733; &#9733; &#9733;</h5>
                    <p class="card-text">A great review.</p>
                    <div class="">
                        <div class="d-flex">
                            <img src="https://a0.muscache.com/im/users/6353572/profile_pic/1405804572/original.jpg?aki_policy=large" class="ml-0 mr-2 img-fluidX rounded-circle w-25 mb-2" alt="...">
                            <div class="d-flex flex-column">
                                <h5 class="mt-0 mb-1">Jonathon</h5>
                                <p>Truckee, CA</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container py-3 mt-4">
    <h3 class="wrapper">Your sauna experience:</h3>
    <div class="row justify-content-center mt-4">
        <div class="col-md-3">
            <div class="card mb-3 border-0">
                <svg style="fill:#60B6B5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="64" height="64">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" /></svg>
                <div class="card-body pl-0">
                    <h5 class="card-title">Customer support, 24/7</h5>
                    <p class="card-text">Talk to us day or night, we’re here for you.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3 border-0">
                <svg style="fill:#60B6B5" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24">
                    <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z" />
                    <path d="M0 0h24v24H0z" fill="none" /></svg>
                <div class="card-body pl-0">
                    <h5 class="card-title">Secure, easy delivery</h5>
                    <p class="card-text">On time, on location, no assistance needed.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3 border-0">
                <svg style="fill:#60B6B5" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M0 0h24v24H0z" />
                    <g fill-rule="evenodd" clip-rule="evenodd">
                        <path d="M9 17l3-2.94c-.39-.04-.68-.06-1-.06-2.67 0-8 1.34-8 4v2h9l-3-3zm2-5c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4" />
                        <path d="M15.47 20.5L12 17l1.4-1.41 2.07 2.08 5.13-5.17 1.4 1.41z" />
                    </g>
                </svg>
                <div class="card-body pl-0">
                    <h5 class="card-title">Clean &amp; ready-to-steam!</h5>
                    <p class="card-text">Professionaly cleaned, fueled, and ready to heat!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% comment %} <div class="container-fluid container">
    <div class="container pl-0">
        <div class="row">
            <div class="col-12 pl-0 mb-5">
                <h2 class="h3  mt-0 mb-2">When are you considering reserving?</h2>
                <p class="mt-0 ml-0 mb-2">Add dates for pricing and availability.</p>
                <button class="btn btn-lg btn-success">Add dates</button>
            </div>
        </div>
    </div>
</div> {% endcomment %}
{% endblock content %}